.wrapper { 
    position: relative; 
    max-width: 204px; 
    text-align: left;
 }

@media only screen and (min-width: 768px) and (max-width: 1439px) {
.wrapper { 
    max-width: 270px; 
}
}

.label { 
    font-weight: 400; 
    font-size: 12px; 
    color: #8d929a; 
    margin-bottom: 8px; 
}

/* React Select library classes */

.select,
.container {
  width: 100%;
}

.menuField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 16px !important;
  width: 204px;
  box-sizing: border-box;
}
@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .menuField {
    width: 270px; 
  }
}

.selectedText {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #101828 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.indicatorsContainer {
  display: flex;
  align-items: center;
  background: #f7f7f7;
  border-radius: 12px;
  padding: 0 16px 0 0;
}

.chevronButton {
  background: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  outline: none;
}
.chevronButton:hover,
.chevronButton:active {
  background-color: #dadde1;
  border-radius: 50%;
  outline: none;
}

.arrowWrap {
  display: inline-block;
  transition: transform 300ms ease;
  transform-origin: center center;
  will-change: transform;
}
.rotated {
  transform: scaleY(-1);
}

.arrowIcon {
  display: block;
  transform-box: fill-box;
}

.clearIndicator {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

}
.clearButton {
  background: transparent;
  border: none;
  color: #8d929a;
  font-size: 22px;
  line-height: 1;
  cursor: pointer;
  padding: 0;
}
.clearButton:hover { 
  color: #101828; 
}

/* Dropdown menu */

@media (min-width: 768px) and (max-width: 1439px) {
  .items {
    min-width: 270px;
  }
}

.itemsList {
  max-height: 272px;
  overflow-y: auto;
  padding: 0 0 8px 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #dadde1 transparent;
}
.itemsList::-webkit-scrollbar { 
  width: 8px; 
}

.itemsList::-webkit-scrollbar-thumb { 
  background: #dadde1; 
  border-radius: 10px; 
  border: 2px solid transparent; 
  background-clip: padding-box; }

.noOptionsMessage {
  padding: 14px 18px;
  color: #8d929a;
}

.valueContainer {
  padding-left: 0;
  padding-right: 8px;
}
